<div class = "home">
    <h1 class = "home_heading">Heritage Gazette</h1>
    <p class = "home_body">Bloging Page For BVHS </p>
</div>

<img src = "/" alt="Backgroung picture" class="hero-image" width="981" height="528">

<section class ="articles">
    <h2 class = "articles_heading">Latest Posts</h2>

    <ul class = "article-ul">
        <li>
            <a href="#">
                <span>Post Title</span>
                <span class="article-list_date">Date</span>
            </a>
        </li>
    </ul>


    <a href = "#" class = "pagination">&lt; View Older Posts</a>
</section>